.user-grid {
  text-align: center;
  padding: 0px 8px 70px;
  .user-grid-item{
    font-size: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 53px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    &.red {
      background-color: rgba(225, 225, 225, 0.3);
    }
  }
}

.call-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  flex: 1;
  width: 100%;
}
