.user-grid {
  text-align: center;
  .user-grid-item{
    font-size: 30px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 53px;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    &.red {
      background-color: rgba(225, 0, 0, 0.1);
    }
  }
}
